

body {
    margin: 20px;

}
.box {
    background-color: #247;
    color: black;
    
    padding: 30px;
    border-radius: 10px;
    font-size: 100%;

}
.container {
    
   display: grid;
  grid-template-columns: 60px 60px  ;
  grid-template-rows: 30px 30px  ;
  grid-template-areas:
  "item-a item-a"
  "item-b item-b"
  "item-c item-d"
  ". item-e";

  background-color: rgb(202, 96, 96);
}

.item-a {
    background-color: red;
    justify-self: end;
  
}

.item-b {
    background-color: blue;
}
.item-c {
    background-color: gold;
}
.item-d {
    background-color: violet;
}
.item-e {
    background-color: brown;
  
}