* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}


header {
	background-color: skyblue;
	display: ;
	justify-content: ;
	padding-top: 10px;
	font-family: Arial, Verdana, Helvetica;
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	height: 100px;

}

header img {
	background-color: pink;
	max-width: 300px;
	max-height: 20px;
	margin-left: 17rem;
	margin-top: 0.1em;
	



}

nav ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0.4em 0.6em;
	margin-top: 20px;
 	
}

nav li {
	border: 0.1px solid black;
	border-radius: 4px;
	font-size: 1.5em;
	padding-right: 1em;
	padding-left: 1em;
	margin: 0 0.3em ;
	background-color: lightpink;
}

 
 a {
 	color: black;
 	text-decoration: none;
 	padding: 8px;



 }

.main-container {
	background-color: beige;
	font-family: Arial, Verdana, Helvetica;
	display: flex;
	justify-content: center;
	min-height: 400px;

	
}

div .promotion {
	background-color: lightcoral;
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 20px;
	min-width: 20em;
	text-align: center;
	color: wheat;
	padding: 3em;
	margin-right: 2.5rem;
	margin-top: 1.9rem;
	margin-bottom: 1.9rem;
	margin-left: 1rem;
	}
	

div .info {
	background-color: lightgreen;
	border: 1px solid black;
	border-radius: 10px;
	
	padding-right: 20px;
	padding: 3em;
	min-width: 20em;
	text-align: center;
	color: lightslategrey;
	margin-left: 2.5rem;
	margin-top: 1.9rem;
	margin-bottom: 1.9rem;
	margin-right: 1rem;
}
footer img {
	background-color: lightsalmon;
	max-width: 200px;
	max-height: 10px;
	margin-left: 0.1rem;
	margin-top: 1rem;

}

footer p {
	background-color: beige;
	height: 60px;
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	margin-top: 4rem;
	margin-left: 1rem;
	max-width: 700px;
	max-height: 200px;

}

footer {

	background-color: gold;
	min-height: 200px;

}
