
body{ 

padding: 30px;} 

 

.box{ 

background-color: lightcoral; 
border-radius: 90px;

width: 50px; 

height: 50px; 

animation: myanimation 3s infinite ease-in; 

} 

 

@keyframes myanimation{ 

from{width: 50px; 

} 

 50%{background-color: aquamarine;
    height: 20px;
}

to{width: 100px; 

} 