* {
    padding: 0;
    margin: 0;
    color: pink;
}

.container {
    min-height: 100vh;
    background-color: black;
}

.letters {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    text-transform:uppercase;
    font-size: 60px;
    font-style: italic;
}

p {
    color: rgb(237, 237, 237);
text-shadow: 
0 0 7px #fff,
0 0 10px #fff,
0 0 31px #fff,
0 0 51px rgb(255, 226 ,4),
0 0 91px rgb(255, 226 ,4),
0 0 100px rgb(255, 226 ,4),
0 0 122px rgb(255, 226 ,4),
0 0 140px rgb(255, 226 ,4);
}